// conterrà tutti i parziali
@import './base/_reset.scss';
@import './base/_base.scss';

// @import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';

$main-color: #7bb985;
$btn-color: #37523b;
$bg-color: #f3faf4;