*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "CambiaFont", sans-serif;
  background: #fff;
  color: #000;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}